<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- DB connection -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/fsad</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Ga@271106</property>

        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Schema auto-update -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Show SQL -->
        <property name="hibernate.show_sql">true</property>

        <!-- Mapping -->
        <mapping resource="product.hbm.xml"/>
    </session-factory>
</hibernate-configuration>